<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LuruServlet</servlet-name>
    <servlet-class>com.servlet.LuruServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AllServlet</servlet-name>
    <servlet-class>com.servlet.AllServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WeihuServlet</servlet-name>
    <servlet-class>com.servlet.WeihuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>KechenganpaiServlet</servlet-name>
    <servlet-class>com.servlet.KechenganpaiServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AptitudePaikeServlet</servlet-name>
    <servlet-class>com.servlet.AptitudePaikeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaveKechengbiaoServlet</servlet-name>
    <servlet-class>com.servlet.SaveKechengbiaoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PaikejieguoServlet</servlet-name>
    <servlet-class>com.servlet.PaikejieguoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateKebiaoServlet</servlet-name>
    <servlet-class>com.servlet.UpdateKebiaoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>KebiaochaxunServlet</servlet-name>
    <servlet-class>com.servlet.KebiaochaxunServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XueshengChaxunServlet</servlet-name>
    <servlet-class>com.servlet.XueshengChaxunServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XuankeServlet</servlet-name>
    <servlet-class>com.servlet.XuankeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TijiaoXuankeServlet</servlet-name>
    <servlet-class>com.servlet.TijiaoXuankeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XuankeQuerenServlet</servlet-name>
    <servlet-class>com.servlet.XuankeQuerenServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TuikeServlet</servlet-name>
    <servlet-class>com.servlet.TuikeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XiugaipwdServlet</servlet-name>
    <servlet-class>com.servlet.XiugaipwdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XinxiluruServlet</servlet-name>
    <servlet-class>com.servlet.XinxiluruServlet</servlet-class>
  </servlet>


















  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LuruServlet</servlet-name>
    <url-pattern>/LuruServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllServlet</servlet-name>
    <url-pattern>/AllServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WeihuServlet</servlet-name>
    <url-pattern>/WeihuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KechenganpaiServlet</servlet-name>
    <url-pattern>/KechenganpaiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AptitudePaikeServlet</servlet-name>
    <url-pattern>/AptitudePaikeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveKechengbiaoServlet</servlet-name>
    <url-pattern>/SaveKechengbiaoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaikejieguoServlet</servlet-name>
    <url-pattern>/PaikejieguoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateKebiaoServlet</servlet-name>
    <url-pattern>/UpdateKebiaoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KebiaochaxunServlet</servlet-name>
    <url-pattern>/KebiaochaxunServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XueshengChaxunServlet</servlet-name>
    <url-pattern>/XueshengChaxunServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XuankeServlet</servlet-name>
    <url-pattern>/XuankeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TijiaoXuankeServlet</servlet-name>
    <url-pattern>/TijiaoXuankeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XuankeQuerenServlet</servlet-name>
    <url-pattern>/XuankeQuerenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TuikeServlet</servlet-name>
    <url-pattern>/TuikeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XiugaipwdServlet</servlet-name>
    <url-pattern>/XiugaipwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XinxiluruServlet</servlet-name>
    <url-pattern>/XinxiluruServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
